.App {
  text-align: center;
}

.Title {
  background-color: #222427;
  min-height: 8vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: left;
  font-size: calc(10px + 1vmin);
  color: white;
}

.Listing {
  background-color: #222427;
  min-height: 8vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: left;
  font-size: calc(10px + 1vmin);
  color: white;
}

.ItemList {
  background-color: white;
  min-height: 8vh;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: flex-start;
  font-size: calc(10px + 1vmin);
  color: #222427;
}

.Item {
  width: 200px;
  margin-right: 20px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
